#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: #b8b7cf;
  background-color: #0e0d18;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.content {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}
